@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

/* Layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #afafaf;
  margin: 0;
  font-family: 'Poppins';
}
header {
  background: #e3e3e3;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1900px;
  padding: 20px;
  margin: 0 auto;
}
/* Homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details{
  background: #e3e3e3;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.workout-details img {
  width: 250px;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: brown;
}
.workout-details p{
  margin: o;
  font-size: 0.9em;
  color: #555;
}
.workout-details td span{
  position: relative;
  top: 20px;
  cursor: pointer;
  background: var(--primary);
  padding: 6px;
  border-radius: 20%;
  color: #333;
}

/* New Workout Form */
label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button{
  background-color: var(--primary);
  border: 0;
  color: #ffff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #fefefe;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}